Repository quassy/fcc: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock, poetry-requirements, pre-commit-autoupdate

poetry-check:
  name: poetry-check
  entry: poetry
  args:
  - check
  language: python
  pass_filenames: false

poetry-lock:
  name: poetry-lock
  entry: poetry
  args:
  - lock
  language: python
  pass_filenames: false

poetry-requirements:
  name: poetry-requirements
  entry: poetry export -o requirements.txt --without-hashes
  language: python
  pass_filenames: false

pre-commit-autoupdate:
  name: pre-commit-autoupdate
  entry: pre-commit autoupdate
  language: system
  pass_filenames: false

Work on medical data viz
  .idea/watcherTasks.xml
  .pre-commit-config.yaml
  README.md
  data-analysis/README.md
  data-analysis/medical-data-visualizer/examples/Figure_1.png
  data-analysis/medical-data-visualizer/examples/Figure_2.png
  data-analysis/medical-data-visualizer/medical_data_visualizer.py
  data-analysis/medical-data-visualizer/test_module.py
  data-analysis/page-view-time-series-visualizer/examples/Figure_1.png
  data-analysis/page-view-time-series-visualizer/examples/Figure_2.png
  data-analysis/page-view-time-series-visualizer/examples/Figure_3.png
  data-visualization/README.md
  machine-learning/README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  scientific-computing/README.md
  setup.cfg
Due: poetry-check, poetry-lock, poetry-requirements, pre-commit-autoupdate

Finish sea level predictor, work on medical data visualizer & page view time series visualizer
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  README.md
  data-analysis/demographic-data-analyzer/main.py
  data-analysis/medical-data-visualizer/main.py
  data-analysis/page-view-time-series-visualizer/main.py
  data-analysis/page-view-time-series-visualizer/test_module.py
  data-analysis/page-view-time-series-visualizer/time_series_visualizer.py
  data-analysis/sea-level-predictor/main.py
  data-analysis/sea-level-predictor/sea_level_predictor.py
  data-analysis/sea-level-predictor/test_module.py
  pyproject.toml
Due: poetry-check, poetry-lock, poetry-requirements, pre-commit-autoupdate

Finish medical data visualizer
  README.md
  data-analysis/medical-data-visualizer/medical_data_visualizer.py
  data-analysis/medical-data-visualizer/test_module.py
Due: none

Finish time series visualizer
  .github/dependabot.yml
  README.md
  data-analysis/medical-data-visualizer/medical_data_visualizer.py
  data-analysis/page-view-time-series-visualizer/time_series_visualizer.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: poetry-check, poetry-lock, poetry-requirements

Path conditions:
  poetry-check: any of: pyproject.toml
  poetry-lock: any of: pyproject.toml
  poetry-requirements: any of: ^(pyproject.toml|poetry.lock)$
  pre-commit-autoupdate: any of: .pre-commit-config.yaml
